/ScifiCityGeneratorUnity/.vs/ScifiCityGeneratorUnity/v16/.suo
/ScifiCityGeneratorUnity/.vsconfig
/ScifiCityGeneratorUnity/Assembly-CSharp-Editor.csproj
/ScifiCityGeneratorUnity/Assembly-CSharp-firstpass.csproj
/ScifiCityGeneratorUnity/Assembly-CSharp.csproj
Library
/ScifiCityGeneratorUnity/Logs
Temp
UserSettings
/ScifiCityGeneratorUnity/obj/Debug/Assembly-CSharp-Editor.csproj.AssemblyReference.cache
/ScifiCityGeneratorUnity/obj/Debug/Assembly-CSharp-firstpass.csproj.AssemblyReference.cache
/ScifiCityGeneratorUnity/obj/Debug/Assembly-CSharp.csproj.AssemblyReference.cache
/ScifiCityGeneratorUnity/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ScifiCityGeneratorUnity/ScifiCityGeneratorUnity.sln
/Build
